h1{
    color: yellow;
}

body{
    /* background-color: rgb(93, 128, 12); */
    background-image: url(/static/assets/bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30%;
}

h2{
    color: red;
}